<p>
  <h3 class="text-info">Flashcards</h3>
</p>

<div class="table-responsive table-hover">
  <table class="table">

    <tbody>
      <% @flashcards.each do |flashcard| %>
        <tr>
          <td>
            <%= link_to flashcard.cardfront[0..165]+' ...', flashcard_path(flashcard), class: 'text-dark' %>
          </td>
          <td>
            <%= link_to 'Edit', edit_flashcard_path(flashcard), class: 'btn btn-sm btn-outline-secondary' %>
          </td>
          <td>
            <%= button_to 'Delete', flashcard_path(flashcard), method: :delete, data: {confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
