<div class="jumbotron">
  <h1 class="display-4 text-info">Remember</h1>
  <p class="lead">A simple flashcard web application to help remember stuff.</p>

  <p class="text-small">Built by <a href="https://github.com/ramon-luis">ramon-luis</a> for personal use.</p>
</div>
