<nav class="navbar navbar-expand-md navbar-default navbar-fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar"
      aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-50" id="collapsingNavbar">
      <ul class="navbar-nav w-55">
        <li class="nav-item">
          <a class="nav-link text-white" href="/flashcards">Browse Cards</a>
        </li>
        <li class="nav-item mr-5">
          <a class="nav-link text-white" href="/flashcards/new">Create New Card</a>
        </li>
        <li class="nav-item">
            <%= link_to 'Get Random Card', flashcard_path(Flashcard.all.sample), :class => "btn btn-info"%>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/" class="text-white">Home</a></li>
    </ul>
  </div>
</nav>
